<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button text="Back" defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

    <div>
        <div class='img_wrapper' *ngFor='let img_url of mapData.img_urls'>
            <img class='map-img' [src]='img_url'>
        </div>
        
        <div class='name'>{{mapData.name}}</div>
        <div class='desc'>{{mapData.desc}}</div>
        <div class='creator'>{{mapData.creator}}</div>
        <div class='code'>{{mapData.code}}</div>

        <div class='categories'>
            <div class='title'>Categories</div>
            <div class="type-wrapper">
                <div class='type-list' *ngIf="addedTypes.length > 0">
                    <div class='type' *ngFor='let type of addedTypes'>
                        {{type}}
                        <ion-icon name='close' (click)='removeType(type)'></ion-icon>
                    </div>
                </div>

                <div class='add-type' (click)="selectCategories()">
                    Add Category
                    <ion-icon name='add'></ion-icon>
                </div>
            </div>
        </div>

    </div>

    <div class='actions'>
        <ion-button (click)='addMap()' color="success">Yes</ion-button>
        <ion-button (click)='removeMap()' color="danger">No</ion-button>
    </div>
</ion-content>